* {
    margin: 0;
    padding: 0;
}

$mobile: 375px;
$desktop: 1400px;


@mixin media-maxwidth($screensize) {
    @media (max-width:$screensize) {
        @content;
    }
}

body {
    width: 100%;
}

a {
    text-decoration: none;
   
}



.creat {
    font-family: 'Fraunces';
    font-weight: 900;
    margin-top: 161px;
    margin-bottom: 536px;
    text-align: center;
    font-size: 56px;
    color: #FFF;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    

    @include media-maxwidth($mobile) {
        font-size: 40px;
    }
}

.creat1 {
    background-image: url(/images/icons/icon-arrow-down.svg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center bottom 400px;
    display: flex;
    flex-direction: column;
}

.box1 {
    background-image: url(/images/photos/image-header.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;

    @include media-maxwidth($mobile) {
        background-size: cover;
        background-position: center;
        max-width: 100%;
    }

    .arrow {
        width: 30px;
        height: 107.48px;
    }
}
.menu a {
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    margin-left: 40px;
    margin-right: 48px;
    margin-bottom: auto;
    font-family: 'Fraunces';
    color: #FFF;
    padding-top: 16px;
    padding-bottom: 15px;

    .logo1 {
        flex: 2;
        flex-direction: row;
        margin: auto;

        @include media-maxwidth($mobile) {
            display: flex;
            flex: 1;
            justify-content: space-between;
        }

        #logo {
            height: 33px;
            width: 170px;
        }


        .hamburger {
            display: none;
            background: transparent;
            border: 0px;
            cursor: pointer;

            @include media-maxwidth($mobile) {
                display: flex;
            }
        }

        .hamburger:hover {
            &__list {
                display: flex;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;

        @include media-maxwidth($mobile) {
            display: none;
        }

        .contact {
            width: 140px;
            height: 56px;
            border-radius: 25px;
            border: 0px;
            font-family: 'Fraunces';
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700px;
            line-height: 25px;
            letter-spacing: -0.11px;
            color: #24303E;
            background-color: #ffffff;
            transition: 0.5s;
        }

        .contact:hover {
            color: #FFF;
            background-color: rgb(129, 211, 244);
        }
    }
}
button {
    cursor: pointer;
}

.box2 {
    display: flex;

    @include media-maxwidth($mobile) {
        flex-direction: column;
    }

    &__box2--primary {
        justify-content: center;
        align-items: center;
    }

    &__box2--secondary {
        justify-self: center;
        align-items: center;
    }

    &__text {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: left;
        width: 100%;
        min-height: 100%;
        overflow: auto;

        @include media-maxwidth($mobile) {
            text-align: center;
            width: 100vw;
            height: 100vh;
        }
    }

    &__text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        margin-right: 110px;
        margin-left: 165px;

        &--secondary {
            margin-right: 165px;
            margin-left: 110px;
        }

        @include media-maxwidth($mobile) {
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            margin: 0 24px 0 24px;
        }
    }

    &__title {
        font-family: 'Fraunces';
        color: #24303E;
        font-size: 40px;
        font-weight: 900;
        line-height: 49.32px;
        letter-spacing: -0.29px;

        @include media-maxwidth($mobile) {
            font-size: 32px;
        }
    }

    &__p {
        text-align: left;
        font-family: 'Barlow';
        color: #808397;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.13px;
        margin-top: 32px;

        @include media-maxwidth($mobile) {
            text-align: center;
        }
    }

    &__learn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 137px;
        text-transform: uppercase;
        font-family: 'Fraunces';
        color: #24303E;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        margin-top: 40px;
        border-bottom: 10px solid rgb(250, 212, 0, 0.3);
        border-radius: 3px 5px;
        display: inline-block;
        height: 0.8em;
        transition: 0.5s;

        &--secondary {
            border-bottom: 10px solid rgb(254, 119, 102, 0.3);
        }
    }

    &__learn:hover {
        border-bottom: 10px solid rgb(250, 212, 0);
    }

    &__learn--secondary:hover {
        border-bottom: 10px solid rgb(254, 119, 102);
    }

    &__img {
        width: 100%;
        min-height: 100%;
        overflow: auto;
    }

    &--primary {
        display: flex;
        flex-direction: row-reverse;

        @include media-maxwidth($mobile) {
            flex-direction: column;
        }
    }
}

.box3 {
    display: flex;
    flex-direction: row;
    min-width: 100%;

    @include media-maxwidth($mobile) {
        flex-direction: column;
    }

    &__text {
        width: 339px;
        height: auto;
        margin-top: 398px;
        margin-bottom: 59px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-maxwidth($mobile) {
            width: 327px;
            height: 100%;
            margin: 398px 24px 59px 24px;
        }
    }

    &__title {
        font-family: 'Fraunces';
        font-size: 28px;
        font-weight: 900;
        line-height: 34.52px;
        letter-spacing: -0.2px;
        text-align: center;
        margin-bottom: 0px;
    }

    &__p {
        font-family: 'Barlow';
        color: #3E7467;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.11px;
        text-align: center;
        margin-top: 34px;

        &--cerise {
            color: #19536C;
        }
    }

    &--cerise {
        background: url(/images/photos/image-graphic-design.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 50%;
        height: auto;
        color: #24554A;

        @include media-maxwidth($mobile) {
            background-size: auto;
            background-position: center;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }

    &--orange {
        background: url(/images/photos/image-photography.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 50%;
        height: auto;
        color: #052C3B;

        @include media-maxwidth($mobile) {
            margin-top: -8px;
            background-size: auto;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }

}

.testimonials {
    &__client {
        display: flex;
        flex-direction: column;
        margin-right: 165px;
        margin-left: 165px;
        margin-top: 160px;
        margin-bottom: 160px;
    }

    &__title {
        display: flex;
        justify-content: center;
        font-family: 'Fraunces';
        color: #A7AAAD;
        font-size: 20px;
        font-weight: 900;
        line-height: 24.66px;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 81px;
    }

    &__img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-top: 106px;
    }

    &__clients {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-maxwidth($desktop) {
            flex-direction: column;
        }
    }

    .client {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;

        &__text {
            font-family: 'Barlow';
            color: #5B636D;
            width: 350px;
            height: 96px;
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.13px;
            text-align: center;
            margin-top: 58px;
        }

        &__info {
            width: 203px;
            height: 56px;
            margin-top: 69px;
        }

        &__name {
            font-family: 'Fraunces';
            color: #24303E;
            font-size: 18px;
            font-weight: 900;
            line-height: 22.19px;
            letter-spacing: -0.13px;
            text-align: center;
        }

        &__work {
            font-family: 'Barlow';
            color: #A7AAAD;
            font-size: 14px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: -0.1px;
            text-align: center;
        }
    }
}

.bottom-img {
    display: flex;

    .bottom-img2 {
        display: flex;
        flex-direction: row;

        @include media-maxwidth($mobile) {
            flex-direction: column;
        }

        &__primary {
            display: flex;
            width: 50%;

            @include media-maxwidth($mobile) {
                width: 100%;
            }
        }

        &__secondary {
            display: flex;
            width: 50%;

            @include media-maxwidth($mobile) {
                width: 100%;
            }
        }
    }
}

.legal {
    display: flex;
    background: #90D4C6;
    justify-content: center;

    &__1 {
        width: 300px;
        height: 206px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 72px;
        margin-bottom: 72px;
    }

    &__logo {
        display: flex;
        justify-content: center;
    }

    &__logo2 {
        filter: invert(49%) sepia(4%) saturate(4285%) hue-rotate(118deg) brightness(81%) contrast(102%);
    }

    &__menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        color: #458D7E;
        font-family: 'Barlow';
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.13px;
        transition: 0.5s;
    }
    &__menu a {
        color: #458D7E;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        width: 164px;
    }

    .logo,
    .about {
        transition: 0.5s;
    }

    .logo:hover {
        filter: brightness(0) invert(1);
    }
    

    .about:hover {
        color: white;
    }
}